{% include 'top-nav.html' with name="Ankit" reg_no="144" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'firstcss.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> 
        &emsp;This is my html page from templates folder<br>
        <!-- Hello {{name}} Good Morning! Your ID number is {{id}} -->
        {% for i in sdict %}
        &emsp;{{i.name}} {{greeting}}<br>
        {% endfor %}

        {% if number == 2 %}
        <h4>&emsp;Number value is 2.</h4>
        {% else %}
        <h4>&emsp;Number value is not 2.</h4>
        {% endif %}

        {% comment %}
        Hello this is comment section.
        {% endcomment %}
    </p>
    <div class="square"></div>
</body>
</html>