<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Students Records</title>
</head>
<body>
    <table border = "2">
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>eMail</th>
        <th>Operation 1</th>
        <th>Operation 2</th>
        {% for student_record in students_records %}
        <tr>
            <td>{{student_record.id}}</td>
            <td>{{student_record.name}}</td>
            <td>{{student_record.phoneno}}</td>
            <td>{{student_record.email}}</td>
            <td><a href="{% url 'UpdateStudent' student_record.pk %}">Update this Record</a></td>
            <td><a href="{% url 'DeleteStudent' student_record.pk %}">Delete this Record</a></td>
        </tr>
        {% endfor %}
    </table><br><br>
    <a href="{% url 'RegisterStudent' %}">Register a new student.</a><br><br>
    <!-- <a href="{% url 'ViewStudents' %}">View Students Records</a> -->
</body>
</html>