<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Students Records</title>
</head>
<body>
    <table border = "2">
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>eMail</th>
        {% for student_record in student_records %}
        <tr>
            <td>{{student_record.id}}</td>
            <td>{{student_record.name}}</td>
            <td>{{student_record.phoneno}}</td>
            <td>{{student_record.email}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>