<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Updated the student detail to:
    <table border = "2">
            <th>Name</th>
            <th>Phone</th>
            <th>eMail</th>
        <tr>
            <td>{{student_record.name}}</td>
            <td>{{student_record.phoneno}}</td>
            <td>{{student_record.email}}</td>
        </tr>
    </table>
</body>
</html>